.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block{
  height: 250px;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 8px 0;
  padding: 20px;
  margin: 30px;
  
}
